:root{
    --background-shadow:rgba(255, 144, 14, 0.1);
    --background: #FF900E;
    --dark-l-color:#727272;
    --dark-color:#131313;
    --text-color:#FF900E;
    --withe-color:#FFFFFF;
}

*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/*---common style ---*/
.container{
    width:100%;
    max-width:1200px;
    margin: 0 auto;
    padding:25px;
    margin-bottom:30px;
}

header{
    background-color: var(--background-shadow);
    padding:25px;
}

.all-paragraph{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--dark-l-color);
}

.button{
    padding:0 25px;
    height:50px;
    font-weight: 500;
    font-size: 18px;
    background-color: var(--background);
    border: none;
    border-radius: 10px;
    color: var(--withe-color);
    text-align: center;
}
/*---common style ---*/



/* <!-- This is a nav scetion start --> */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:15px;
}
.nav-titel{
    font-size:40px;
    font-weight: 700;
    color: var(--dark-color);
}
.nav-list{
    display:flex;
    gap: 25px;
    font-weight: 500;
    font-size: 18px; 
}
.nav-list > li{
    list-style: none;
}
.nav-list > li > a{
    text-decoration: none;
    color:#424242;
}
/* <!-- This is a nav scetion end --> */



/* <!-- This is a article scetion start --> */
.article-titel{
    margin-top:70px;
    text-align: center;
    font-weight: 700;
    font-size:64px;
    line-height: 75px;
}
.article-paragraph{
    text-align: center;
}
/* <!-- This is a article scetion end --> */



/*  <!-- This is a article-button scetion strat --> */
.continer-button{
    width:100%;
    max-width:1200px;
    margin: 0 auto;
    padding: 25px;
    margin-bottom:30px;
}
.button-article{
    margin-left: 500px;
}
/*  <!-- This is a article-button scetion strat --> */

 

/*  <!-- This is a img-article scetion strat --> */
.img-article > img{
    width:100%;
}
/*  <!-- This is a img-article scetion strat --> */



/*   <!-- This is a quick-section scetion start --> */
.quick-section{
    width:100%;
    max-width:1200px;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    gap:30px;
    align-items: center;
}
.section-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
}
.section-img > img{
    width: 300px;
    height:280px;
}
.section-titel{
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: var(--dark-color);
}
.titel-color1{
    color:var(--dark-l-color);
}
.titel-color2{
    color: var(--text-color);
}

.scetion-buttion{
    margin-top: 10px;
}
/*   <!-- This is a quick-section scetion end --> */



/*  <!-- This is a Features-section scetion start --> */
.features-section{
    width:100%;
    max-width:1200px;
    margin: 0 auto;
    padding: 50px 30px;
    display: flex;
    gap:30px;
}
.titel-box{
    border-left: 4px solid #FF900E;    
}
.features-titel{
    padding-left:21px;
    margin-bottom:20px;
}
.info-box{
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-top:20px;
    padding: 20px;
}
.info-box-titel{
    font-weight: 600;
    font-size: 20px;
    color: var(--dark-color);
}
.features-img-box{
    position: relative;
}

.features-img-box > img{
    width: 100%;
    height:120vh;
}
.year{
    position: absolute;
    width: 258px;
    height: 109px;
    margin-left:-20px;
    margin-top:-70px;
    background-color: var(--background);
    color: var(--withe-color);
    text-align: center;
    z-index: 1;
}
.year-title{
    font-weight: 700;
    font-size:40px;
    padding-top:20px;
}
/*  <!-- This is a Features-section scetion end --> */



/*  <!-- This is a Optional-section scetion start --> */
.optional-section{
    width:100%;
    max-width:1200px;
    margin: 0 auto;
    padding: 50px 30px;
}
.optional-box{
    text-align: center;
}
.optional-main-titel{
    font-weight: 600;
    font-size: 40px;
    color: var(--dark-color);
}
.optional-items{
    margin-top:70px;
    display: flex;
    justify-content: space-between;
    gap:50px;
}
.optional-item{
    width:300px;
    height:350px;
    padding:25px;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.24);
}
.img-box{
    width:100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top:-60px;
    box-shadow: 0px 4px 30px rgba(241, 121, 121, 0.808)
}

.img-box > img{
    width: 100%;
    border-radius: 50%;
}

.img-titel{
    margin: 10px 0;
    color: var(--text-color);
}


 
/*  <!-- This is a Optional-section scetion start --> */




/* <!-- This is a Some--section scetion start --> */
.some-section{
    width:100%;
    max-width:1200px;
    margin: 0 auto;
    padding: 50px 30px;
}
.some-titel{
    font-weight: 600;
    font-size: 20px;
    color: var(--dark-color);
}

.some-items{
    margin-top:90px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
.item-box{
    width: 241px;
    height:241px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
}

.item-img{
    margin-top: 60px;
    position: relative;
    animation-name: example;
    animation-duration:10s;
    animation-timing-function:linear;
    animation-delay: 4s;
    animation-iteration-count:infinite;
    animation-direction: alternate-reverse;
    transform: rotate(45deg);
}
@keyframes example {
    0%   { left:0px; top:0px;}
    25%  { left:100px; top:0px;}
    50%  { left:100px; top:100px;}
    75%  { left:0px; top:100px;}
    100% { left:0px; top:0px;}
  }

.item-number{
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    color: var(--dark-color);
}

/* <!-- This is a Some--section scetion end --> */



/*  <!-- This is a Our--section scetion start --> */
.our-section{
    width:100%;
    max-width:1200px;
    margin: 0 auto;
    padding: 50px 30px;
}
.our-main-box{
    text-align: center;
}
.our-title{
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    color: var(--dark-color);
}
.our-items{
    margin-top:50px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    gap:20px;
}

.grayscale { filter: grayscale(100%); }

/*  <!-- This is a Our--section scetion emd --> */



/* <!-- This is a footer-section scetion start --> */
.footer-section{
    width:100%;
    max-width:1200px;
    margin: 0px auto;
    padding: 30px 30px;
    background-color: var(--background-shadow);
    text-align: center;
    margin-top: 25px;
}
/* <!-- This is a footer-section scetion end --> */

@media screen and (max-width:576px){
    .nav-container, 
    .nav-list, 
    .quick-section, 
    .features-section,
    .some-items,
    .our-items,
    .optional-items{
        flex-direction: column;
    }
    .button-article{
        margin-left:20px;
    }
    .container{
        margin-bottom: 0;
    }
    .section-img{
        grid-template-columns: repeat(1,1fr);
    }
    .year{
        margin-top:20px;
        margin-left:20px;
        position: relative;
    }
}